STRUKTUR DATA TUPLE

Tuple adalah jenis dari suatu data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersif sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
#Contoh tuple
T1 = (1,"dua",True,1+2j)
print("Ini adalah tuple",T1)

Ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#Menampilkan tipe struktur data
type(T1)

tuple

Sifat-sifat tuple

In [3]:
#Terurut
T1[0:3]

(1, 'dua', True)

In [4]:
#Tidak bisa diganti
T1[4] = 15

TypeError: ignored

In [5]:
#Dapat diindeks/slicing 
print("elemen ketiga tuple adalah:",T1[3])

elemen ketiga tuple adalah: (1+2j)

In [6]:
#Dapat diijinkan duplikasi
T2 = (3,2.4,True,2.4)
T2

(3, 2.4, True, 2.4)

Menggabungkan tuple

In [7]:
#Menggabungkan tuple
T3 = T1+T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

Latihan 1

In [8]:
#Contoh tuple
T1 = (1,2,3,4,5.5,6,False,8,9,2+9j)
print("Ini adalah tuple",T1)

Ini adalah tuple (1, 2, 3, 4, 5.5, 6, False, 8, 9, (2+9j))

In [9]:
#Menampilkan tipe struktur data
type(T1)

tuple

Latihan 2

In [10]:
T2 = ('mawar','melati','anggrek')
T2

('mawar', 'melati', 'anggrek')

In [11]:
#Menggabungkan 2 tuple
T3 = T1+T2
T3

(1, 2, 3, 4, 5.5, 6, False, 8, 9, (2+9j), 'mawar', 'melati', 'anggrek')

TERIMA KASIH :)