LIST

List adalah jenis kumpulan data terurut (ordered sequence) dan merupakan salah satu variabel yang sering digunakan pada python. Serupa namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen list pada python tidak harus memiliki tipe data yang sama. Mendeklarasikan list cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

In [3]:
#Contoh list
L1 = [1,4,2,13]

print(type(L1))

<class 'list'>

In [4]:
L2 = ["a","python",3]
L2

['a', 'python', 3]

In [5]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'python', 3]

Indeks di python (List,tuple) mulai dari 0

In [6]:
#Sifat-sifat List

#Terurut/ordered
print("Memanggil List L1 dengan indeks urutan:",L1[0:3])

#Bisa diganti multable
L1[1] = 2
print("List L1 setelah diganti elemennya",L1)

#Dapat diindeks/slicing 
print("Slicing List L1:",L1[3])

#Dapat diijinkan duplikasi
L1 = [1,"dua",True,2+3j,2+3j]
print("Duplikasi pada list: ",L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya [1, 2, 2, 13]
Slicing List L1: 13
Duplikasi pada list:  [1, 'dua', True, (2+3j), (2+3j)]

Latihan 1

In [7]:
#List menu makanan dan minuman MIE GAACOWAN
print("Aneka makanan :")
L1 = ['mie iblis','udang keju','udang rambutan','siomay','mie setan','mie angel','lumpia udang']
print(L1)
print('_'*100)

print("Aneka minuman:")
L2 = ['thai green tea','thai tea ori','teh','lemon tea','vanila latte','orange','milo','cokelat'] 
print(L2)
print('_'*100)

print("Level kepedasan:")
L3 = [1,2,3,4,5,6,7,8]
print(L3)

Aneka makanan :
['mie iblis', 'udang keju', 'udang rambutan', 'siomay', 'mie setan', 'mie angel', 'lumpia udang']
____________________________________________________________________________________________________
Aneka minuman:
['thai green tea', 'thai tea ori', 'teh', 'lemon tea', 'vanila latte', 'orange', 'milo', 'cokelat']
____________________________________________________________________________________________________
Level kepedasan:
[1, 2, 3, 4, 5, 6, 7, 8]

Latihan 2

In [8]:
print("Daftar makanan dan minuman ter-update: ")
#Terurut/ordered
print("Menu makanan lama:",L1[0:6])
print("Menu minuman lama:",L2[0:7])
print('-'*100)

#Bisa diganti multable
L1[2] ='spicy honey chicken'
L2[5] ='milk sunderbolong'
print("Menu makanan ter-update",L1)
print("Menu minuman ter-update",L2)
print('-'*100)

#Dapat diindeks/slicing 
print("Menu makanan yang dihilangkan:",L1[6])
print('-'*100)

#Dapat diijinkan duplikasi
L1 = ['mie iblis','udang keju','spicy honey chicken','siomay','mie setan','mie angel']
L2 = ['thai green tea','thai tea ori','teh','lemon tea','vanila latte','milk sunderbolong','milo','cokelat'] 
L3 = [1,2,3,4,5,6,7,8,9,10,'level dewa']
print("Makanan terbaru: ",L1)
print("Minuman terbaru: ",L2)
print("Level kepedasan terbaru: ",L3)

Daftar makanan dan minuman ter-update:
Menu makanan lama: ['mie iblis', 'udang keju', 'udang rambutan', 'siomay', 'mie setan', 'mie angel']
Menu minuman lama: ['thai green tea', 'thai tea ori', 'teh', 'lemon tea', 'vanila latte', 'orange', 'milo']
----------------------------------------------------------------------------------------------------
Menu makanan ter-update ['mie iblis', 'udang keju', 'spicy honey chicken', 'siomay', 'mie setan', 'mie angel', 'lumpia udang']
Menu minuman ter-update ['thai green tea', 'thai tea ori', 'teh', 'lemon tea', 'vanila latte', 'milk sunderbolong', 'milo', 'cokelat']
----------------------------------------------------------------------------------------------------
Menu makanan yang dihilangkan: lumpia udang
----------------------------------------------------------------------------------------------------
Makanan terbaru:  ['mie iblis', 'udang keju', 'spicy honey chicken', 'siomay', 'mie setan', 'mie angel']
Minuman terbaru:  ['thai green tea', 'thai tea ori', 'teh', 'lemon tea', 'vanila latte', 'milk sunderbolong', 'milo', 'cokelat']
Level kepedasan terbaru:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'level dewa']