Oleh : Nikmatun Khasanah (1915015027)

Konversi Struktur Data

```
Fungsi untuk mengubah/konversi struktur data:
1. list() : untuk mengubah menjadi list
2. tuple(): untuk mengubah menjadi tuple
3. set()  : untuk mengubah menjadi set
4. dict() : untuk mengubah menjadi dictionary
```

Mengkonversi tipe data list

In [28]:
#Membuat 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [29]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))

#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data tuple

In [30]:
#Membuat 2 tuple
T1 = (1,2,3,4)
T2 = (5,6,7,8)

In [31]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))

#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data set

In [32]:
#Membuat 2 set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

In [33]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1,S2))

#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

Mengkonversi tipe data dictionary

In [34]:
D = {
    "nama":"Andi",
    "alamat":"Yogyakarta",
    "umur":20
}

In [35]:
#Mengkonversi struktur data dictionary dari key dan value nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'alamat', 'nama', 'umur'}

Latihan

Konversi struktur data dictionary

In [36]:
M1 = {
    'Nama':'Alifa',
    'Umur':5,
    'Hobi':'Bersepeda',
    'Makanan kesukaan':['telor ceplok','mie goreng','bakso'],
    'Sudah sekolah':True
    }

In [37]:
#Mengkonversi struktur data dictionary dari key dan value nya
k_list = list(M1.keys())
k_tuple = tuple(M1.values())
k_set = set(M1.keys())

#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['Nama', 'Umur', 'Hobi', 'Makanan kesukaan', 'Sudah sekolah']
('Alifa', 5, 'Bersepeda', ['telor ceplok', 'mie goreng', 'bakso'], True)
{'Makanan kesukaan', 'Nama', 'Umur', 'Hobi', 'Sudah sekolah'}

Konversi Tipe data set

In [38]:
A = {1,3,4,6,8}
B = {2,3,6,7,9}

In [39]:
#Mengkonversi struktur data set
k_list = list(A)
k_tuple = tuple(B)
k_dict = dict(zip(A,B))

#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 3, 4, 6, 8]
(2, 3, 6, 7, 9)
{1: 2, 3: 3, 4: 6, 6: 7, 8: 9}

Konversi Tipe data List

In [40]:
L1 = ['mie iblis','udang keju','udang rambutan','siomay','mie setan','mie angel','lumpia udang']
L2 = [1,2,3,4,5,6,7,8]

In [41]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))

#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

('mie iblis', 'udang keju', 'udang rambutan', 'siomay', 'mie setan', 'mie angel', 'lumpia udang')
{1, 2, 3, 4, 5, 6, 7, 8}
{'mie iblis': 1, 'udang keju': 2, 'udang rambutan': 3, 'siomay': 4, 'mie setan': 5, 'mie angel': 6, 'lumpia udang': 7}

Konversi Tipe data Tuple

In [42]:
T1 = (1,2,3,4,5.5,6,False,8,9,2+9j)
T2 = ('mawar','melati','anggrek')

In [43]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))

#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4, 5.5, 6, False, 8, 9, (2+9j)]
{'melati', 'anggrek', 'mawar'}
{1: 'mawar', 2: 'melati', 3: 'anggrek'}